<?xml version="1.0"?>
<launch>  
<param name="use_sim_time" value="false"/>
<arg name="publish_hz" default="100"/>
<arg name="drone_name" default="anafi"/>
<group ns="$(arg drone_name)">
    <node name="anafi_control_cascaded_pid_interface_node" pkg="anafi_control" type="anafi_control_cascaded_pid_interface.py" output="screen" >
        <param name = "publish_hz" value = "$(arg publish_hz)" />
        <param name = "drone_name" value = "$(arg drone_name)" /> 
    </node> 
</group>
</launch>