<?xml version="1.0"?>

<launch>
  <arg name="anafi_drone" default="anafi"/>
  <arg name="namespace" default="$(arg anafi_drone)"/>
  <!-- <arg name="model" default="$(find anafi_description)/urdf/$(arg anafi_drone).xacro"/> -->
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.2"/>
  <arg name="world_name" default="basic"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="true"/>




  <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find anafi_description)/worlds/$(arg world_name).world" />
		<arg name="debug" value="$(arg debug)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="verbose" value="$(arg verbose)"/>
	</include> 


<group ns="$(arg anafi_drone)">
    <include file="$(find anafi_description)/launch/anafi_drone.launch">
			<arg name="anafi_drone" value="$( arg anafi_drone )"/>
			<arg name="namespace" value="$( arg anafi_drone )"/>
			<arg name="X" value="$(arg x)"/>
			<arg name="Y" value="$(arg y)"/>
			<arg name="Z" value="$(arg z)"/>
		</include>  
</group>


<group ns="$(arg anafi_drone)_camera">
  	<include file="$(find anafi_description)/launch/anafi_camera.launch">
			<arg name="anafi_drone" value="$( arg anafi_drone )"/>
			<arg name="namespace" value="$( arg anafi_drone )_camera"/>
			<arg name="X" value="0.0"/>
			<arg name="Y" value="0.0"/>
			<arg name="Z" value="0.1"/>
		</include>  
</group>




</launch>
