<?xml version="1.0"?>
<launch>
	<arg name="anafi_drone" default="anafi"/>
	<arg name="namespace" default="$(arg anafi_drone)"/>
	<arg name="X" default="3.0"/>
	<arg name="Y" default="3.0"/>
	<arg name="Z" default="0.5"/> 
		
	<!-- <include file="$(find anafi_description)/launch/spawn_$(arg anafi_drone)_drone.launch"> -->
	<include file="$(find anafi_description)/launch/spawn_anafi_component.launch">
		<arg name="anafi_component" value="$(arg namespace)" />
		<arg name="namespace" value="$(arg namespace)"/>
		<arg name="x" value="$(arg X)"/>
  		<arg name="y" value="$(arg Y)"/>
  		<arg name="z" value="$(arg Z)"/>
	</include>
</launch>

